.pio
.vscode/.browse.c_cpp.db*
.vscode/ipch
build/
*.o
*.out
*.o.d
*.marks
*.cmake
*.make
*.internal
*.ninja
*.log
*.cmake
*.make
*.bin
Makefile
Makefile2
CMakeFiles/
CMakeCache.txt
Makefile
CMakeCache.txt
Makefile
rase
fcmd
rase.json
